.links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.links {
  background-color: white;
  max-width: 20rem;
  width: 15rem;
  max-height: 3rem;
  border: none;
  border-radius: 1rem;
  transition: transform 0.5s ease-in-out;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.links:hover,
.links:focus {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.spotify {
  transition: scale .5s ease-in-out;
}

.spotify:hover{
  scale: 1.1;
}

li {
  list-style: none;
}
